@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
html,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  @apply bg-emerald-900;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
body {
  position: fixed;
  height: 100%;
  @apply bg-emerald-900;
  width: 100%;
}
.overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #008cba;
}

.container:hover .overlay .overlay:hover {
  opacity: 1;
}
